.mainScreanProfile {
    display: flex;

    .mainScreanProfileCenter {
        width: 648px;
        display: flex;
        flex-direction: column;
    }

    .mainScreanProfileRight {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contestMonthContainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blurBackground {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .contestMonth {
        border-radius: 12px;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
    }
}