.userShopItemDescr {
    .userShopItemDescrWrap {
        width: 900px;
        height: 550px;
        background: linear-gradient(180deg, #F9F9FF 0%, #E4E1FF 100.05%);
        border-radius: 12px;
        border: 1px solid #1E1584;
    }
    .userShopItemDescrExit {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
    }
    .userShopItemDescrItem {
        padding-top: 45px;
        display: flex;
        .userShopItemDescrItemLeft {
            padding-left: 30px;
            padding-right: 30px;
            width: 290px;
            display: flex;
            flex-direction: column;
            img {
                width: 250px;
                height: 250px;
            }
            .Ellipse {
                width: 210px;
                height: 35px;
            }
        }
        .userShopItemDescrItemLeftPrice {
            margin-top: 30px;
            width: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
                height: 30px;
            }
            p {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 44px;
                color: #1E1584;
            }
        }
        .userShopItemDescrItemCenter {
            height: 330px;
            opacity: 0.6;
            border: 1px solid #524E7D;
        }
        .userShopItemDescrItemRight {
            width: 510px;
            padding-left: 50px;
            padding-right: 50px;
            h2 {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 44px;
                text-align: center;
                color: #1E1584;
            }
            p {
                margin-top: 20px;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 180%;
                text-align: center;
                color: #524E7D;
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 32px;
                width: 520px;
                height: 60px;
                background: linear-gradient(180deg, #26E27C 0%, #15D36C 100%);
                border-radius: 12px;
                cursor: pointer;
            }
        }
    }
}