.profileWrap {
    background: #fff;
    width: 277px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
}

.userInfo {
    padding-top: 20px;
    margin-bottom: 120px;
    width: 250px;
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    .userName {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #1E1584;
    }
    .userPosition {
        margin-top: 5px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #524E7D;
    }
}

.userPointInfo {
    display: flex;
    width: 250px;
    height: 27px;
    .userLv {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        color: #1E1584;

    }
    .userPoint {
        display: flex;
        width: 100px;
        align-items: stretch;
        img {
            width: 25px;
            height: 25px;
        }
        p {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            color: #1E1584;
        }
    }
}

.userBtnWrap {
    margin-top: 20px;
    width: 278px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 80%;
        height: 58px;
        margin-bottom: 14px;
        cursor: pointer;
        border: 2px solid rgba(114, 101, 251, 0.1);
        background: rgba(114, 101, 251, 0.1);
        border-radius: 15px; 
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #524E7D;
        &:active {
        background: linear-gradient(to top, #ACA4FF 100%, #7B6FFF 100%, #5242FF 100%);
        }
        .imgWrap {
            display: flex;
            align-items: center;
            width: 44px;
            height: 44px;
            background: rgba(114, 101, 251, 0.1);
            border-radius: 10px;
        }
        img {
            width: 24px;
            height: 24px;
        }
        p {
            display: flex;
            width: 215px;
            margin-left: 13px;
        }
    }
}