* {
    background: linear-gradient(180.18deg, rgba(246, 245, 255, 0.5) 0.16%, rgba(240, 240, 255, 0.5) 0.16%, rgba(114, 101, 251, 0.5) 100.57%);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}