
.btn {
  margin: 0;
  button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 54px;
    margin: 13px 16px 13px 0px;
    padding: 20px;
    cursor: pointer;
    border: 2px solid rgba(114, 101, 251, 0.1);
    background: rgba(114, 101, 251, 0.1);
    border-radius: 15px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #524E7D;

    &:active {
      background: linear-gradient(to top, #ACA4FF 100%, #7B6FFF 100%, #5242FF 100%);
      color: #FFFFFF;
    }
  }
}